body {
  margin: 0;
  padding: 0;
}

.layout {
  display: grid;
  grid-template-columns: 1fr 10fr 1fr;
  grid-template-areas:
    'hero hero hero'
    'eventText eventText eventText'
    'organizations organizations organizations'
    'faq faq faq'
    'sponsors sponsors sponsors';
}
