.hero {
  height: 100vh;
  grid-area: hero;
  background: rgb(28, 19, 26);
  background-image: url('../assets/heroimage.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: grid;
  grid-template-columns: 1fr 10fr 1fr;
  grid-template-areas: '. envision .';
}

.envisionInfo {
  padding: 3rem 0;
  margin: 0 auto;
}

.envisionInfo img {
  height: 5vh;
  width: auto;
  display: block;
  margin: 0 auto;
}

@media screen and (min-width: 992px) {
  .envisionInfo {
    margin: 0;
  }

  .envisionInfo img {
    height: 12vh;
    width: auto;
    display: block;
    margin: 0 auto;
  }
}

.envisionDate {
  display: flex;
  flex-direction: column;
  padding: 1rem 0;
}

@media screen and (min-width: 992px) {
  .envisionDate {
    flex-direction: row;
    justify-content: space-around;
  }
}

.envisionDate h2 {
  font-size: 1.25rem;
  color: rgb(255, 255, 255);
  letter-spacing: 0.15rem;
  text-transform: uppercase;
  margin: 0.5rem 0;
  font-family: Futura, sans-serif;
  text-align: center;
}

@media screen and (min-width: 992px) {
  .envisionDate h2 {
    padding: 0.5rem 1rem;
  }
}

.envisionApply {
  text-align: center;
  padding: 1rem;
}

@media screen and (min-width: 992px) {
  .envisionApply a {
    font-size: 1.25rem;
  }
}

.envisionMentor {
  padding: 3rem 0;
  text-align: center;
}

.envisionMentorText {
  font-size: 1.25rem;
  color: rgb(255, 255, 255);
  letter-spacing: 0.15rem;
  text-transform: uppercase;
  margin: 0.5rem 0;
  font-family: Futura, sans-serif;
  text-align: center;
  padding: 1rem 0;
}

.envisionMentor a {
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  padding: 0.5rem 2rem;
  border: 0.2rem solid rgb(255, 255, 255);
  border-radius: 2.5rem;
  text-decoration: none;
  font-family: Futura, sans-serif;
  letter-spacing: 0.25rem;
  display: inline-block;
}

.envisionApply a {
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  padding: 0.5rem 2rem;
  border: 0.2rem solid rgb(255, 255, 255);
  border-radius: 2.5rem;
  text-decoration: none;
  font-family: Futura, sans-serif;
  letter-spacing: 0.25rem;
}

.envisionApply a:hover {
  color: rgb(255, 255, 255);
  text-decoration: underline;
}

.envisionContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: envision;
}

.envisionAbout h1 {
  color: rgb(255, 255, 255);
  text-transform: uppercase;
}

@media screen and (min-width: 992px) {
  .hero {
    background-size: 100% 100%;
  }
}
